@import '/px2rem.styl'
// @import './reset.css'
html
  box-sizing:border-box
  body
    width:100%
    height:100%
    div
      padding px(40)
      h2
        text-align:center;
        font-size:px(40);
        font-weight:bold
      h3
        text-align:right;
        font-size:px(30);
        margin:px(30);
        padding-right:px(40)
      h4
        font-weight:bold;
        text-indent:px(30);
        font-size:px(30);
        line-height:px(50)
      p
        line-height:px(50);
        font-size:px(30)
        &.com1
          background-color:#eaf1fb;
          color:#167ac8;
          box-sizing:border-box;
          border-left:px(3) solid #167ac8;
          font-size:px(28);
          font-weight:bold;
          margin:px(30) 0;
          padding-left:.24rem;
          height:px(60)
          line-height:px(60)
        &.com2
          font-weight:bold;
          padding:px(20) 0
        &.indent2
          text-indent:px(60)
